[Unit]
Description=LNBits service

[Service]
ExecStart=/usr/bin/poetry run lnbits
WorkingDirectory=/usr/local/lnbits
User={{ lnbits_user }}
Group={{ lnbits_group }}
Restart=always

[Install]
WantedBy=multi-user.target
