[Unit]
Description=LNBits service

[Service]
Wants=lnd-mainnet
After=lnd-mainnet
ExecStart=/usr/bin/poetry run lnbits
WorkingDirectory=/usr/local/lnbits
User={{ lnbits_user }}
Group={{ lnbits_group }}
Restart=always

[Install]
WantedBy=multi-user.target
